# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [1]:
import pandas as pd
import random

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)

In [3]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [4]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
recipes.info(), reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 126696 entries, 370476 to 691207
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    126696 non-null  int64
 1   recipe_id  126696 non-null  int64
 2   date       126696 non-null  object
 3   rating     126696 non-null  int64
 4   review     126679 non-null  object
dtypes: int64(3), object(2)
memory usage: 5.8+ MB

(None, None)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [6]:
recipes.isnull().sum()

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [7]:
recipes.isnull().sum() / (recipes.notnull().sum() + recipes.isnull().sum())

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

In [8]:
reviews.isnull().sum()

user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64

In [9]:
reviews.isnull().sum() / (reviews.notnull().sum() + reviews.isnull().sum())

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [10]:
recipes['minutes'].mean()

123.35813333333333

In [11]:
recipes['n_steps'].mean()

9.805582137161085

In [12]:
recipes['n_ingredients'].mean()

9.008285984848484

In [13]:
reviews['rating'].mean()

4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [14]:
random.choices(recipes['name'], k=10)

['rich scottish truffles',
 'chicken and brown rice soup',
 'spinach salad with bacon  egg  and crouton',
 'spicy barbecued pork tenderloins with garlic sauce',
 'lemon chicken bites',
 'mixed berry cobbler',
 'mickey s okinawa taco rice and cheese trc',
 'st  mark s swedish meatballs',
 'polynesian pot roast',
 'rosemary lemon twin roast chickens for the grill']

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [15]:
reviews.reset_index()

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [16]:
recipes[
    (recipes['minutes'] <= 20) & 
    (recipes['n_ingredients'] <= 5)
]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [17]:
pd.to_datetime(recipes['submitted'])

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [18]:
recipes[recipes['submitted'] < '2011-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [19]:
recipes['description_length'] = recipes['description'].str.len()

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [20]:
recipes['name'] = recipes['name'].str.title()

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [21]:
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))

In [22]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [23]:
recipes_count = recipes.groupby('contributor_id', as_index=False).agg({'id': 'count'})
recipes_count.head()

   contributor_id   id
0            1530    5
1            1533  186
2            1534   50
3            1535   40
4            1538    8

In [24]:
recipes_count.sort_values(by='id', ascending=False).iloc[0]

contributor_id    89831
id                  421
Name: 1768, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [25]:
reviews.groupby('recipe_id').agg({'rating': 'mean'})

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

In [26]:
recipes['id'].nunique() - reviews['recipe_id'].nunique()

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [27]:
recipes.groupby(recipes.submitted.dt.year).agg({'id': 'count'})

             id
submitted
1999        275
2000        104
2001        589
2002       2644
2003       2334
2004       2153
2005       3130
2006       3473
2007       4429
2008       4029
2009       2963
2010       1538
2011        922
2012        659
2013        490
2014        139
2015         42
2016         24
2017         39
2018         24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [28]:
data = recipes.merge(
    reviews, left_on='id', right_on='recipe_id'
)[['id', 'name', 'user_id', 'rating']]

In [29]:
data.loc[
    data['id'].isin(
        recipes.loc[
            ~recipes['id'].isin(
                reviews['recipe_id']
            )
        ]['id']
    )
]

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [30]:
data = recipes.set_index('id').join(reviews.set_index('recipe_id'))
data = data[['name', 'review']]
data['recipe_id'] = data.index
data = data.groupby('recipe_id', as_index=False).agg({'name':'first', 'review': 'count'})
data.columns = ['recipe_id', 'name', 'review_count']

In [31]:
data.loc[
    data['recipe_id'].isin(
        recipes.loc[
            ~recipes['id'].isin(
                reviews['recipe_id']
            )
        ]['id']
    )
]

       recipe_id                                    name  review_count
61          1144              Steak   Tomato Basil Pasta             0
97          2691               Lamb Chops With Mandarins             0
101         2759                 Mexican Pollo En Pipian             0
118         2994                    Apricot Custard Tart             0
129         3145                     Kung Pao Chicken Ii             0
...          ...                                     ...           ...
29949     531001         Garbanzo Chipotle Soup  Chowder             0
29951     531398                   Easy Peel Boiled Eggs             0
29959     533052                     Killer Voodoo Gumbo             0
29966     533867  Chocolate Peanut Butter Pinecone Cakes             0
29975     534760   Nif S Instant Pot Macaroni And Cheese             0

[1900 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [32]:
data = recipes.merge(
    reviews, left_on='id', right_on='recipe_id'
)[['id', 'name', 'submitted', 'rating']]
data.groupby(data.submitted.dt.year).agg({'rating': 'mean'}).sort_values('rating', ascending=True).iloc[0]

rating    2.75
Name: 2017, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [33]:
data = recipes.sort_values('name_word_count', ascending=False)
data[['name_word_count', 'name', 'description_length']].to_csv('6.1.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [34]:
data_51 = recipes.merge(
    reviews, left_on='id', right_on='recipe_id'
)[['id', 'name', 'user_id', 'rating']]

In [35]:
data_52 = recipes.set_index('id').join(reviews.set_index('recipe_id'))
data_52 = data_52[['name', 'review']]
data_52['recipe_id'] = data_52.index
data_52 = data_52.groupby('recipe_id', as_index=False).agg({'name':'first', 'review': 'count'})
data_52.columns = ['recipe_id', 'name', 'review_count']
data_52

       recipe_id                                        name  review_count
0             48                            Boston Cream Pie             2
1             55  Betty Crocker S Southwestern Guacamole Dip             4
2             66                 Black Coffee Barbecue Sauce            18
3             91              Brown Rice And Vegetable Pilaf             4
4             94                       Blueberry Buttertarts             4
...          ...                                         ...           ...
29995     536547                         Cauliflower Ceviche             1
29996     536610               Miracle Home Made Puff Pastry             1
29997     536728                       Gluten Free  Vegemite             1
29998     536729                Creole Watermelon Feta Salad             4
29999     536747                          Lemon Pom Pom Cake             4

[30000 rows x 3 columns]

In [36]:
with pd.ExcelWriter("6.2.xlsx") as writer:
    data_51.to_excel(writer, sheet_name="Рецепты с оценками")  
    data_52.to_excel(writer, sheet_name="Количество отзывов по рецептам")